.featured-wrapper p {
  text-align: left;
  color: #000000;
  font-size: calc(10px + 1.2vmin);
}

.featured-wrapper p a {
  text-decoration: none;
  margin-left: 0.3rem;
}

.featured-wrapper p a:hover {
  color: rgb(81, 168, 87);
}

.featured__app-description {
  margin-bottom: 0;
}

.projects-container {
  padding-bottom: 25px;
  border-bottom: 2px solid gray;
}

.projects-container:last-of-type {
  border: none;
  padding-bottom: 0;
}

@media (prefers-color-scheme: dark) {   
  .featured-wrapper p {
    color: #ffffff;
  }

  .featured-wrapper p a {
    color: #3a9dff;
  }
}