.panel {
    width: 33%;
    margin: 0 auto;
}

.panel-wrapper {
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 5px;
}

.panel-title {
    font-size: 2.3rem;
    text-align: left;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: .75rem;
}

.pill-tiles_list {
    display: flex;
    flex-wrap: wrap;
    column-gap: .75em;
    row-gap: 1em;
    padding-inline-start: 2em;
}

.pill-tile {
    padding: 10px 15px;
    list-style: none;
    border: 1px solid rgb(70, 104, 72);
    border-radius: 5px;
    font-size: 1.3em;
    cursor: default;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}