.panel {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
}

.panel-wrapper {
    background-color: #505765;
    border-radius: 5px;
    padding: 1rem 2rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    flex: 1;
}

.pill-tiles_list {
    display: flex;
    flex-wrap: wrap;
    column-gap: .75em;
    row-gap: 1em;
    padding: 0;
}

.pill-tile {
    padding: 10px 15px;
    color: #ffffff;
    list-style: none;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-size: calc(10px + 1.2vmin);
    cursor: default;
    box-shadow: none;
}

@media screen and (max-width: 740px) {
    .panel {
        flex: 1 1 auto;
    }
}

@media (prefers-color-scheme: dark) {    
    .panel-wrapper {
        box-shadow: none;
        background-color: antiquewhite;
    }

    .pill-tile {
        color: #000000;
        border: 1px solid rgb(70, 104, 72);
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    }
}