.weather-container {
    background: rgb(70, 104, 72);
    border-radius: 5px;
    width: 12em;
    padding: 5px 0;
    position: absolute;
    right: 0;
    top: 0;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.weather-container p {
    color: #ffffff;
    margin: 7px;
    font-size: 1em;
}

@media screen and (max-width: 950px) {
    .weather-container {
        display: none;
    }
}

@media (prefers-color-scheme: dark) {
    .weather-container {
        box-shadow: none;
    }
}