.App {
  text-align: center;
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.App-panels {
  margin: 0 auto 2rem;
  width: 70vw;
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
}

.section-title {
  font-size: calc(12px + 2vmin);
  text-align: left;
  color: #282c34;
  text-transform: capitalize;
  margin-bottom: .75rem;
}

@media screen and (max-width: 980px) {
  .App-panels {
    width: 80vw;
  }
}

@media screen and (max-width: 680px) {
  .App-panels {
    width: 85vw;
  }
}

@media (prefers-color-scheme: dark) {
  .App {
    background-color: #282c34;
  }

  .App-header, .section-title {
    color: #ffffff;
  }
}